<h2>Businesses with Coupontrade.com Coupons</h2>

<table>
  <tr>
    <th>Name/Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @maps.each do |map| %>
  <tr>
    <td><%= link_to map.name, map %></td>
    <td><%= map.latitude.round(4) %></td>
    <td><%= map.longitude.round(4) %></td>
    <td><%= link_to 'Edit', edit_map_path(map) %></td>
    <td><%= link_to 'Destroy', map, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<p>
<%= link_to 'Add a New Location to Current Map', new_map_path, :id => 'new_map_form_link' %>
<%= render 'form' %><p>

<ul id="markers_list"> 
<%= gmaps4rails(@markers, false, false) %>
</ul> 
</p>
