<p id="notice"><%= notice %></p>

<ul id="markers_list"> 
  <%= gmaps({
    "map_options" => { 
    "auto_adjust" => true,     
    "auto_zoom" => false, 
    "zoom" => 15 },
    "markers" => { "data" => @markers }
   })
  %>
</ul>



<p>
  <b>Name or Address:</b>
  <%= @map.name %>
</p>

<p>
  <b>Latitude:</b>
  <%= @map.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @map.longitude %>
</p>






<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
