<!DOCTYPE html>
<html>
<head>
  <%= yield :head %>
  <title>Coupontrade.com</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div class="js">
  <%= yield :scripts %>
</div>
</body>
</html>
